
.about {
  background: url("../img/y.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 75vh;
  padding-top: 80px;
  text-align: center;
}

.events {
  text-align: center;
  padding-top: 30px;

}
