
.about {
  background: url("../img/y.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 75vh;
}

.overlay {
    background: rgba(0,0,0,0.60);
    width:100%;
    height:75vh;
    
}